CompileFlags:
  Add:
    - "-std=c11"
    - "-Wall"
    - "-Wextra"
  Remove: ["-Werror"]
Diagnostics:
  ClangTidy: true
  ClangTidyChecks: >
    clang-analyzer-*,
    bugprone-*,
    performance-*,
    readability-*,
    -readability-identifier-length,
    -bugprone-easily-swappable-parameters,
    -modernize*
