name: Run Unit Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up PlatformIO
        uses: n-vr/setup-platformio-action@v1
      - name: Run unit tests
        run: pio test -e native